/* body {
	text-align: center;

	background:transparent;

  } */
	/* h1 {
	  color: #88B04B;
	  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
	  font-weight: 900;
	  font-size: 40px;
	  margin-bottom: 50px;
	} */
	/* .tpr {
	  color: #404F5E;
	  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
	  font-size:20px;
	  margin-left:120px;
	} */
  .ibomma {
	color: #9ABC66;
	font-size: 190px;
	line-height: 290px;
	margin-left:-15px;
	align-items: center;
  }
  .barre {
	background:transparent;
	padding-bottom: 120px;
	/* border-radius: 4px; */
	/* box-shadow: 0 2px 3px #C8D0D8; */
	/* display: inline-block; */
	/* margin: 0 auto; */
	align-items: center;
	text-align: center;
  }