body {
  background-color: #aa1edd;
  font-family: 'Ubuntu', sans-serif;
}

.main {
  background-color:transparent;
  width: 400px;
  height: 100%;
  margin: auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
 
}

.sign {
  padding-top: 15px;
  color:white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 30px;
 
}

.un {
width: 76%;
color: white;
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: darkgray;
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 5px solid rgba(194, 46, 46, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
border-color: aliceblue;

}

form.form1 {
  padding-top: 15px;
  border-color: aliceblue;
  border-width: 10px;
  padding-bottom: 7px;
}

.pass {
      width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 5px solid #0fe22b05;
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
  border: 5px solid rgba(0, 0, 0, 0.18) !important;
  
}

.submit {
cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #9C27B0, #E040FB);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 25%;
  font-size: 15px;
  width:200px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);

}

.forgot {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #E1BEE7;
  padding-top: 0px;
}

a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #E1BEE7;
  text-decoration: none
}
.bablureddyt{
  background-image: url("C:/Users/prthati/Desktop/new/product_catalyt/frontend/merchant/public/Screenshot (43).png");
  background-size:cover ;
  height:900px;

}

@media (max-width: 600px) {
  .main {
      border-radius: 2px;
    
  }
}